{% extends "base.html" %}

{% block content %}
<div class="container flex flex-col justify-items-center px-4 mx-auto max-w-5xl">
    <div class="flex flex-row justify-start items-center">
        <button
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded m-4">
            <a href="{{ url_for('landing') }}">Home</a>
        </button>
        <div class="ml-4">
            Annotated Image for
            <span class="font-bold">
                {{ name }}
            </span>
        </div>
    </div>

    <img src="{{ img }}" alt="annotated image" class="border-2 border-solid border-black">
    <br>

    <table class="table-auto border-collapse my-auto border-solid border-2">
        <thead>
            <tr class="bg-gray-400">
                <th class="text-left p-2">
                    detection_class_entities
                </th>
                <th class="text-left p-2">
                    detection_scores
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,data['objects_found']) %}
            <tr>
                <td class="p-1 border-solid border-2">
                    {{data['detection_class_entities'][i]}}
                </td>
                <td class="p-1 border-solid border-2">
                    {{data['detection_scores'][i]}}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <div class="py-4">

    </div>
</div>
{% endblock content %}